@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://sethusenthil.com/Product-Sans/api/font.css) format('woff2');
}

*{
    font-family: Product Sans;
}
body 
{
    display: grid;
    justify-content: center;
    background-color: #171717;
    /* opacity: 0.6; */
    background-image: radial-gradient(#1b1b1b 2px,#272626 2px);
    background-size: 40px 40px;
}

.header
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.context
{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 200%;
}

.titler
{
    display: flexbox;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    border-right: .20em solid #504cc4;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(55, end),
      blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #504cc4; }
  }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.card-container {
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    grid-gap: 5%;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: 0;
}

.card {
    width: 100%;
    height: 40%;
    perspective: 6000px;
    /* margin: 0 3%; */
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    font-size: 300%;
    font-weight: bold;
}

.front {
    background:  linear-gradient(#504cc4, #6d40d6);;
    transform: rotateY(0deg);
    color: white ;
    
}

.back {
    background:  linear-gradient(#fbff00, #ffaf02);;
    transform: rotateY(180deg);
    color: rgb(29, 10, 43);
}

.card1:hover:hover .card-inner {
    transform: rotateY(180deg);
}

.card2:hover .card-inner {
    transform: rotateX(180deg);
}

.card3:hover .card-inner {
    transform: rotateX(90deg) rotateZ(90deg) rotateY(-90deg);
    /* if not do this */
    /* transform: rotateZ(90deg) */
}